h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    background-color: rgba(56, 43, 39, 0.486);
}

main {
    background-color: cyan;
}

.journal-area {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.record-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.viewer {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.viewer__highlight {
    border: 1px solid;
    padding: 1%;
}

.viewer__date {
    background-color: darksalmon;
    padding: 2%;
    max-width: 40%;
    margin: 1%;
}

.viewer__concepts {
    background-color: darksalmon;
    padding: 2%;
    max-width: 90%;
    margin: 1%;
}

.viewer__journal {
    background-color: darksalmon;
    padding: 2%;
    max-width: 90%;
    margin: 1%;
}

.viewer__mood {
    background-color: darksalmon;
    padding: 2%;
    max-width: 40%;
    margin: 1%;
}

.form-input {
    width: 30%;
}

.history {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.historical-entry {
    border: 1px solid;
    padding: 2%;
    margin-bottom: 1%;
}

.input-form {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 1em;
}

#journalDate {
    margin-bottom: 1em;
}

#journalConcepts {
    margin-bottom: 1em;
}

#journalEntry {
    margin-bottom: 1em;
}

#journalMood {
    margin-bottom: 1em;
}

footer {
    margin-top: 5%;
    text-align: center;
}